name: "Run Rust tests"

on:
  pull_request:
    types: [opened,edited,synchronize,reopened]
  push:
    branches: [ "master", "main" ]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: nixbuild/nix-quick-install-action@v29
      - name: Restore and cache Nix store
        uses: nix-community/cache-nix-action@v5
        with:
          primary-key: nix-${{ runner.os }}-${{ hashFiles('**/*.nix') }}
          restore-prefixes-first-match: nix-${{ runner.os }}-
          gc-max-store-size-linux: 1073741824
          purge: true
          purge-prefixes: cache-${{ runner.os }}-
          purge-created: 0
          purge-primary-key: never
      - uses: nicknovitski/nix-develop@v1.2.1
      - name: Build
        run: cargo build --verbose
      - name: Run tests
        run: cargo test --verbose
